# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_AUTOMATON169_LEFT

config ZMK_KEYBOARD_NAME
    default "Automaton169"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # LEFT

if SHIELD_AUTOMATON169_LEFT || SHIELD_AUTOMATON169_RIGHT

config ZMK_SPLIT
    default y

endif # LEFT RIGHT

config PWM
    default y

config LED_PWM
    default y