# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_AUTOMATON169_LEFT
	def_bool $(shields_list_contains,automaton169_left)

config SHIELD_AUTOMATON169_RIGHT
	def_bool $(shields_list_contains,automaton169_right)
