#include <dt-bindings/led/led.h>



/ {
    backlight: pwmleds {
        compatible = "pwm-leds";
        label = "Backlight LEDs";
        pwm_led_0 {
            pwms = <&pwm0 2>; /* LED 0 */
        };
        pwm_led_1 {
            pwms = <&pwm0 3>; /* LED 1 */
        };
        pwm_led_2 {
            pwms = <&pwm0 28>; /* LED 2 */
        };
    };
};


/ {
	chosen {
		 zmk,backlight = &backlight;
	};
};